<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gerenciamento_de_Contas.Properties.Settings.Contas_DBConnectionString" connectionString="Data Source=WAR-PC;Initial Catalog=Contas_DB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
